{% load static %}

<!-- templates/planilha/exibir_grafico.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Exibição de Gráfico</title>
</head>
<body>
    <h1>Gráfico</h1>
    <!-- Use o URL correto para exibir a imagem -->
    <img src="{{ graph_url }}" alt="Gráfico" width="667" height="500">

    <a href="{{ graph_url }}" class="btn btn-primary" download>Download gráfico</a>

    <a href="{% url 'upload_planilha' %}" class="btn btn-primary">Retornar para a Página de Upload</a>
</body>
</html>
